* {
    padding: 0;
    margin: 0;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Jost', sans-serif;
}

body,
html {
    background-color: #00BF63;
    height: 100%;
    width: 100%;
}


header {
    height: 160px;
    padding: 48px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 48px;
}


main {
    height: calc(100% - 208px);
    width: 100%;
}

main #cont {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 100%;
    background-color: white;
}


main #izq {
    width: 33%;
    height: 100%;
    padding: 32px;
    box-sizing: border-box;
    float: left;
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
}

.space {
    margin: auto;
}

main #izq .IS {
    height: 27%;
    width: 100%;
    position: relative;
}

main #izq .IS input {
    border: 2px solid;
    width: 100%;
    height: 50%;
    position: relative;
    margin-top: 5px;
}

.boton {
    height: 15%;
    width: 80%;
    background-color: #5271FF;
    border: 1px solid;
    border-radius: 22px;
    text-align: center;
    position: relative;
    border-color: #5271FF;
    font-size: 1.5vw;
    color: white;
    position: relative;
    align-self: center;
    margin-top: 10px;
}

main #cen {
    width: 34%;
    height: 100%;
    padding: 48px;
    box-sizing: border-box;
    float: left;
    position: relative;
    text-align: center;
}

main #cen #Redes1 {
    height: 40%;
    margin-left: 15%;
    width: 70%;
    margin-bottom: 5%;
}

main #cen #Redes1 img {
    margin-top: 4.5%;
    margin-left: 15%;
    height: auto;
    width: 30%;
    float: left;
    position: relative;
}

main #cen #textos {
    margin-left: 5%;
    height: 20%;
    text-align: center;
    width: 90%;
}

main #cen #Redes2 {
    height: 25%;
    width: 70;
    margin-left: 15%;
    margin-right: 15%;
}

main #cen #Redes2 img {
    margin-top: 14%;
    margin-left: 15%;
    height: auto;
    width: 30%;
    float: left;
    position: relative;
}

main #der {
    width: 33%;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
    float: left;
    position: relative;
}

main #der .perfiles {
    box-sizing: border-box;
    width: 90%;
    height: 45%;
    margin: 5% 2.5% 2.5% 5%;
    text-align: center;
    background-color: #00BF63;
    font-size: 1.3vw;
    letter-spacing: 0.10em;
    color: white;
}

main #der .perfiles img {
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 8px;
    height: 40%;
    width: auto;
}

.VP {

    text-align: center;
    background-color: #00BF63;
    font-size: 1.3vw;
    letter-spacing: 0.10em;
    color: white;
    border-color: #00BF63;
    border-style: none;
}